[submodule "ai-sandbox/single-file-agents/anthropic-cookbook"]
	path = ai-sandbox/single-file-agents/anthropic-cookbook
	url = git@github.com:anthropics/anthropic-cookbook.git
[submodule "ai-sandbox/single-file-agents/gemini-structured-extraction"]
	path = ai-sandbox/single-file-agents/gemini-structured-extraction
	url = git@github.com:hackingthemarkets/gemini-multimodal-structured-extraction.git
[submodule "oceanheart-ui"]
	path = oceanheart-ui
	url = github.com:rickhallett/oceanheart-ui.git
[submodule "ai-sandbox/trend-finder"]
	path = ai-sandbox/trend-finder
	url = git@github.com:ericciarla/trendFinder.git
